<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066793232422-74iqd4fd317mshlvjol4fl42bh4jbl0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066793232422-74iqd4fd317mshlvjol4fl42bh4jbl0p</string>
	<key>API_KEY</key>
	<string>AIzaSyAghIaxRnYgXO6UjbvHjZDgJ5-b69C4xCY</string>
	<key>GCM_SENDER_ID</key>
	<string>1066793232422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.ghunaim.yazan.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-61b93</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-61b93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066793232422:ios:0b4e8d0b84e5877fb09ee7</string>
</dict>
</plist>